name: quality checks

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        paths:
            - src/**.ts
            - package.json
            - tsconfig.json
            - .github/workflows/**.yml

permissions:
    contents: read
    pull-requests: write
    actions: write

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: install
              run: bun install

            - name: build
              run: bun run build

            - name: bunfig.toml
              shell: bash
              run: |
                  cat > "${GITHUB_WORKSPACE}/bunfig.toml" <<'EOF'
                  [test]
                  coveragePathIgnorePatterns = [
                      "example/**",
                      "build/**",
                      "src/types.ts",
                      "tests/**",
                      "src/runtime/decorators.ts"
                  ]
                  EOF

            - name: test
              run: bun run test

            - name: Coverage report
              if: github.event_name == 'pull_request'
              uses: xseman/coverage@v0.2.0
              with:
                  coverage-artifact-paths: |
                      bun:coverage/lcov.info

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: install
              run: bun install

            - name: lint
              run: bun run lint
