name: quality checks

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        paths:
            - src/**.ts
            - package.json
            - tsconfig.json
            - .github/workflows/**.yml

permissions: write-all

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '20'
                  cache: 'yarn'

            - name: install
              run: yarn

            - name: build
              run: yarn run build

            - name: test
              run: yarn run test:ci

            - name: Coverage report
              if: github.event_name == 'pull_request'
              uses: xseman/coverage@v0.2.0
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}
                coverage-artifact-paths: |
                  lcov:coverage/lcov.info

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: install
              run: yarn

            - name: lint
              run: yarn
