name: quality checks

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        paths:
            - src/**.ts
            - package.json
            - tsconfig.json
            - .github/workflows/**.yml

permissions:
    contents: read
    pull-requests: write
    actions: write

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: install
              run: yarn

            - name: build
              run: yarn run build

            - name: test
              run: yarn run test

            - name: Coverage report
              if: github.event_name == 'pull_request'
              uses: xseman/coverage@v0.2.0
              with:
                  coverage-artifact-paths: |
                      bun:coverage/lcov.info

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: install
              run: yarn

            - name: lint
              run: yarn
